.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.AddingPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 60%;
    height: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.AddingPassword button, input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 7px;
    margin: 10px;
    padding-left: 15px;
    font-size: 17px;
}

button {
    cursor: pointer;
}

.Passwords {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.password {
    width: 400px;
    height: 70px;
    background-color: black;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}